.p-content {
  display: inline-block;
}
.p-show {
  visibility: visible;
}
.p-hidden {
  visibility: hidden;
}
.p-tooltip {
  visibility: hidden;
  z-index: 10;
  position: fixed;
  display: inline-block;
  /*background: #c75757;
  border-color: rgba(229, 231, 235);
  color: #643045;*/
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;
}
.p-tooltip.p-show {
  visibility: visible;
}

.p-arrow,
.p-arrow::before {
  position: absolute;
  padding-top: 1px;
  padding-right: 7px;
  width: 8px;
  height: 8px;
  background: inherit;
  border-bottom: inherit;
  border-right: inherit;
}

.p-arrow {
  visibility: hidden;
}

.p-arrow::before {
  content: "";
  transform: rotate(45deg);
}
.p-arrow.p-show::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}

.p-tooltip[data-popper-placement^="top"] > .p-arrow {
  bottom: -4px;
}

.p-tooltip[data-popper-placement^="bottom"] > .p-arrow {
  top: -4px;
}

.p-tooltip[data-popper-placement^="left"] > .p-arrow {
  right: -4px;
}

.p-tooltip[data-popper-placement^="right"] > .p-arrow {
  left: -4px;
}
